.page-wrapperM17 {
  width: 100%;
  height: 100%;
  .page-wrapper__content {
    height: 100%;
    position: relative;
    .page-wrapper__content--box-empty1 {
      width: 40%;
      margin: 20px 30px;
      @media screen and (max-width: 900px) {
        margin: 0px 20px;
      }
    }
    .page-content {
      display: flex;
      justify-content: space-evenly;
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 40px;
      @media screen and (max-width: 900px) {
        transform: translateY(30px);
      }
      .people-kids {
        img {
          @media screen and (max-width: 900px) {
            width: 100%;
          }
          width: 100%;
          height: 100%;
        }
      }
      .context-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-150px);
        justify-content: center;
        @media screen and (max-width: 1400px) {
          transform: translateY(-70px);
        }
        @media screen and (max-width: 550px) {
          transform: translateY(-20px);
        }
        .img-object {
          width: 450px;
          margin-bottom: 30px;
          display: flex;
          justify-content: center;
          @media screen and (max-width: 1100px) {
            width: 350px;
          }
          @media screen and (max-width: 900px) {
            width: 300px;
          }
          img {
            cursor: pointer;
            max-width: 100%;
            @media screen and (max-width: 900px) {
              max-width: 70%;
            }
          }
        }
        .img-text {
          width: 550px;
          display: flex;
          justify-content: center;
          @media screen and (max-width: 1199px) {
            width: 400px;
          }
          @media screen and (max-width: 900px) {
            width: 300px;
          }
          img {
            max-width: 100%;
            @media screen and (max-width: 900px) {
              width: 80%;
            }
          }
        }
      }
      .people-teacher {
        transform: translateY(-15px);
        img {
          @media screen and (max-width: 900px) {
            width: 100%;
            transform: translateX(-20px);
          }
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &.pageMD17-wrapper {
    .context-middle {
      margin-top: 20px;
      .img-object {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100px);
        @media screen and (max-width: 1400px) {
          transform: translateY(-20px);
        }
        @media screen and (max-width: 900px) {
        }
        img {
          max-width: 90%;
          @media (min-width: 735px) and (max-width: 1100px) {
            max-width: 70% !important;
          }
          @media screen and (max-width: 900px) {
            width: 60% !important;
          }
        }
      }
    }
    .img-text {
      @media (min-width: 735px) and (max-width: 1100px) {
      }
      @media screen and (max-width: 900px) {
      }
    }
    .people-teacher {
      transform: translateY(0px) !important;
    }
  }
}
