.page-wrapperM17{
    .page-wrapper__content{
        .page-wrapper__content--box-empty1{
            width: 50%;
            margin: 20px 30px;
            @media screen and (max-width: 700px) {
                margin: 0px 20px;
            }
        }
        .page-content{
            margin-left: 30px;
            display: flex;
            justify-content: space-around;
            transform: translateY(100px);
            @media screen and (max-width: 1100px) {
                transform: translateY(30px);
            }
            .people-kids{
                transform: translateY(50px);
                @media screen and (max-width: 700px) {
                    transform: translate(20px,30px);

                }
                img{
                    @media screen and (max-width: 700px) {
                        width: 50%;
                    }
                }
            }
            .context-middle{
                .img-object{
                    cursor: pointer;
                    width: 450px;
                    transform: translate(60px,-45px);
                    @media screen and (max-width: 1100px) {
                        transform: translate(70px,-45px);
                    }
                    @media screen and (max-width: 700px) {
                        transform: translate(20px,-35px);
                        width: 300px;
                    }
                    img{
                        max-width: 100%;
                        @media screen and (max-width: 700px) {
                            max-width: 70%;
                        }
                    }
                }
                .img-text{
                    width: 550px;
  
                    @media screen and (max-width: 1100px) {
                       transform: translate(70px,20px);
                    }
                    @media screen and (max-width: 700px) {
                        width: 300px;
                        transform: translate(0,0);
                    }
                    img{
                        max-width: 100%;
                        @media screen and (max-width: 1100px) {
                            width: 80%;
                            
                        }
                    }
                }
            }
            .people-teacher{
                img{
                    @media screen and (max-width: 700px) {
                        width: 50%;
                        transform: translateX(-20px);
                    }
                }
            }
        }
    }
    &.pageMD17-wrapper{
        .img-object{
            transform: translate(40px,-95px) !important;
            @media screen and (max-width: 1100px) {
                transform: translate(80px,-25px) !important;
            }
            @media screen and (max-width: 700px) {
                transform: translate(40px,-35px) !important;
            }
            img{
                max-width: 100%;
                @media ( min-width :735px) and (max-width: 1100px) {
                    max-width: 70% !important;
                }
                @media screen and (max-width: 700px) {
                    width: 60% !important; 
                }
            }
        }
        .img-text{
            @media ( min-width :735px) and (max-width: 1100px) {
                transform: translate(30px,70px) !important;
            }
            @media screen and (max-width: 700px) {
                transform: translate(10px,40px) !important;
            }
        }
    }
}