.page1-wrapper {
	// display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	// align-items: center;
	height: 90%;
	padding-top: 15px;
}

.image-wrapper {
	height: auto;
	width: 25%;
	padding-left: 15px;
}
.wrapper-item {
	position: absolute;
	right: 0;
	padding-top: 10vh;
	@media screen and (max-width: 991px) {
		position: absolute;
		top: 25%;
		left: 20%;
		// transform: translate(-50%,-50%);
		display: block;
	}
	@media (max-width: 600px) {
		display: flex;
	}
	img {
		max-height: 14vw;
		position: relative;
		padding-right: 30px;
		bottom: 86px;
		cursor: pointer;
	
	}
}

.wrapper-people {
	display: flex;
    position: absolute;
    bottom: 0;
	height: 25vw;
    left: 14%;
}

.wrapper-request {
	display: flex;
    position: absolute;
    right: 10%;
	bottom: 10%;
	@media screen and (max-width: 991px) {
		top: 54%;
		left: 34%;
	}
	img {
		height: 13vw;
		padding-right: 30px;
	}
}
.zoom {
	animation: zoom 1s reverse;
}
@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

