.page3-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	height: 90%;
	padding-top: 15px;
	& .back-to-school {
		width: 80%;
		& img {
			width: 100%;
			object-fit: contain;
		}
	}
}

@media screen and (min-width: 800px) {
	.page3-wrapper {
		& .back-to-school {
			width: 70%;
		}
	}
}

@media screen and (min-width: 1000px) {
	.page3-wrapper {
		& .back-to-school {
			width: 700px;
		}
	}
}
