.page-wrapper {
  width: 100%;
  height: 100%;
  // display: flex;
  justify-content: center;
  align-items: flex-end;
  .listen-wrapper {
    padding: 40px 0px 0px 40px;
    .listen-img {
      height: 10vw;
    }
  }
  .pencil-image-wrapper {
    cursor: pointer;
    .pencil-image {
      height: 17vw;
      position: relative;
      top: 10%;
      left: 7%;
    }
  }
  .pencil-text-wrapper {
    .d-none {
      display: none;
    }
    .pencil-text {
      position: absolute;
      top: 72%;
      left: 14%;
      height: 8vw;
    }
  }
  .people-page-wrapper {
    .people-page {
      position: absolute;
      bottom: 5%;
      right: 15%;
      height: 26vw;
    }
  }
}
// tablet responsive
@media screen and (min-width: 600px) and (max-width: 990px) {
  .listen-wrapper {
    position: absolute;
    top: 1%;
    left: 1%;
  }
  .pencil-image-wrapper {
    position: absolute;
    top: 25%;
    left: 12%;
    .pencil-image {
      height: 18vw !important;
      left: -47% !important;
      top: 8% !important;
    }
  }
  .pencil-text-wrapper {
    .pencil-text {
      position: absolute;
      top: 70% !important;
      left: 17% !important;
      height: 8vw !important;
    }
  }
  .pencil-image-wrapper {
    position: absolute;
    bottom: 0;
    left: 25%;
  }
  .pencil-12 {
    top: 48% !important;
    left: 68% !important;
  }
  .people-14 {
    top: 35% !important;
    left: 70% !important;
  }
}
// mobie responsive
@media (max-width: 524px) {
  .listen-wrapper {
    position: absolute;
    top: -9%;
    left: -4%;
  }
  .pencil-image-wrapper {
    position: absolute;
    top: 25%;
    left: 12%;
    .pencil-image {
      height: 19vw !important;
      left: -2% !important;
    }
  }
  .pencil-text-wrapper {
    .pencil-text {
      position: absolute;
      top: 67% !important;
      left: 18% !important;
      height: 10vw !important;
    }
  }
  .pencil-12 {
    top: 49% !important;
    left: 69% !important;
  }
  .people-14 {
    top: 39% !important;
    left: 68% !important;
  }
}
