.back-and-next-page {
	width: 100vw;
	height: max-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 30px;
	left: 0;
	padding: 0px 20px;
	z-index: 4;
}
