.page-wrapper1{
    position: relative;
    height: 100%;
    .page-wrapper__content{
        position: relative;
        width: 100%;
        height: 100%;
        .page-content-des{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }
        .page-wrapper__content--box-empty1{
                width: 40%;
                margin: 30px;
                @media screen and (max-width: 900px) {
                    margin: 5px;
                }
            }
            .title-sing{
                transition: .1s ease-in;
                &.show{
                    animation: show 2s forwards;
                }
                display: flex;
                justify-content: center;       
            }
            .people-kids{  
                cursor: pointer;
            }
    }
    &.page3-wrapper{
        .title-sing{ 
            margin-bottom: 100px;
            max-height: 25%;
            @media screen and (max-width: 1199px) {
                margin-bottom: 10px;
            }
            img{
                max-width: 100%;
            }
        }
        .people-kids{
            position: relative;
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            height: 50%;
            transform: translateY(0px);
            @media screen and (max-width: 1100px) {
                transform: translateY(0px);
            }
            img{
                width: 100%;
            }
        }
    }
    &.page4-wrapper{
        .page-content-des{
            flex-direction: row;
            justify-content: space-evenly;
        }
        .title-sing{
            flex-basis: 30%;
            img{
                max-width: 100%;
            }
        }
        .people-kids{
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            @media screen and (max-width: 1000px) {
                flex-basis: 40%;
            }
            img{
                max-width: 100%;
            }
        }
    }
    &.page5-wrapper{
        .title-sing{ 
            margin-bottom: 100px;
            max-height: 30%;
            @media screen and (max-width: 1000px) {
                margin-bottom: 15px;
            }
            img{
                max-width: 100%;
            }
        }
        .people-kids{
            position: relative;
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            flex: 0 0 1;
            img{
                max-width: 100%;
            }
        }
    }
    &.page6-wrapper{
        .title-sing{ 
            margin-bottom: 100px;
            max-height: 30%;
            @media screen and (max-width: 1000px) {
                margin-bottom: 15px;
            }
            img{
                max-width: 100%;
            }
        }
        .people-kids{
            position: relative;
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            flex:  0 0 1;
            img{
                max-width: 100%;
            }
        }
    }
}

@keyframes show {
    0% {
		transform: scale(1);
        opacity: 0.2;
	}
	50% {
		transform: scale(1.02);
        opacity: 0.7;
        
	}
    80% {
        transform: scale(0.8);
    }
	100% {
        opacity: 0.9;
		transform: scale(1);
	}
}

