.page26-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__content {
		width: 550px;
		height: 400px;
		&--wrapper {
			display: flex;
			width: 90%;
			height: 100%;
			justify-content: space-between;
			& img {
				width: 23%;
				height: 100px;
				object-fit: contain;
				cursor: pointer;
			}
		}
	}
}

// @media screen and (min-width: 768px) {
// 	.page25-wrapper {
// 		&__content {
// 			width: 600px;
// 			&--wrapper {
// 			}
// 		}
// 	}
// }

// @media screen and (min-width: 1024px) {
// 	.page25-wrapper {
// 		&__content {
// 			width: 900px;
// 		}
// 	}
// }

.animation1 {
	animation: animation1 1.5s forwards;
}
@keyframes animation1 {
	0% {
		display: block;
	}
	100% {
		transform: translate(220px, 300px);
		position: absolute;
		visibility: hidden;
	}
}

.animation2 {
	animation: animation2 1.5s forwards;
}
@keyframes animation2 {
	0% {
		display: block;
	}
	100% {
		transform: translate(220px, 300px);
		position: absolute;
		visibility: hidden;
	}
}

.animation3 {
	animation: animation3 1.5s forwards;
}
@keyframes animation3 {
	0% {
		display: block;
	}
	100% {
		transform: translate(220px, 300px);
		position: absolute;
		visibility: hidden;
	}
}

.animation4 {
	animation: animation4 1.5s forwards;
}
@keyframes animation4 {
	0% {
		display: block;
	}
	100% {
		transform: translate(220px, 300px);
		position: absolute;
		visibility: hidden;
	}
}
