.page4-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	&__content {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 100px;
		&--box-empty {
			width: 70%;
			object-fit: contain;
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 600px) {
	.page4-wrapper {
		&__content {
			&--box-empty {
				width: 50%;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.page4-wrapper {
		&__content {
			&--box-empty {
				width: 400px;
			}
		}
	}
}
