@import "../../styles/common.scss";
.app-heading {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__text {
		font-size: 50px;
		text-transform: uppercase;
		@include lato-black-50;
		color: rgb(50, 53, 247);
		&.isPointer {
			cursor: pointer;
			color: orangered;
		}
	}
}
