.box-next {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	& .main-image {
		width: 90%;
		height: 100px;
		object-fit: contain;
		margin-bottom: 20px;
	}
	& .arrow-image {
		width: 50px;
		height: 30px;
		object-fit: contain;
		cursor: pointer;
	}
}
@media screen and (min-width: 768px) {
	.box-next {
		& .main-image {
			height: 200px;
		}
		& .arrow-image {
			height: 50px;
		}
	}
}
