.page25-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__content {
		width: 550px;
		height: 400px;
		&--wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			& .table {
				width: 350px;
				height: calc(350px * 5 / 6);
				&__item {
					width: calc(350px / 6);
					height: calc(350px / 6);
					cursor: pointer;
				}
			}
			& .text-wrapper {
				width: calc(100% - 350px);
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
				height: 100%;
				&__item {
					width: 70%;
					margin-bottom: 20px;
				}
			}
		}
	}
}

// @media screen and (min-width: 768px) {
// 	.page25-wrapper {
// 		&__content {
// 			width: 600px;
// 			&--wrapper {
// 			}
// 		}
// 	}
// }

// @media screen and (min-width: 1024px) {
// 	.page25-wrapper {
// 		&__content {
// 			width: 900px;
// 		}
// 	}
// }
