.page6-wrapper {
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: flex-end;

  &__content {
    position: relative;
    &--topic .topic {
      @media screen and (max-width: 700px) {
        width: 225px;
      }
      width: 450px;
      padding-top: 30px;
      padding-left: 50px;
      object-fit: contain;
    }
  }
}

@keyframes move {
  0% {
    position: relative;
    top: 0px;
    left: 0px;
  }
  100% {
    position: relative;
    top: 400px;
    left: 370px;
  }
}
@keyframes move1m {
  0% {
    position: relative;
    top: 0px;
    left: 0px;
  }
  100% {
    position: relative;
    top: 300px;
    left: 300px;
  }
}
@keyframes move1mw {
  0% {
    position: relative;
    top: 0px;
    left: 0px;
  }
  100% {
    position: relative;
    top: 110%;
    left: 60%;
  }
}
.star {
  margin-left: 15%;
  margin-top: 3%;

  display: grid;

  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 1200px) {
    margin-top: 0%;
  }
  @media screen and (max-width: 700px) {
    margin-top: 0%;
    margin-left: 8%;
  }
  .item {
    &.active {
      animation: move 2s forwards;
      @media screen and (max-width: 1200px) {
        animation: move1m 2s forwards;
      }
      @media screen and (max-width: 700px) {
        animation: move1mw 2s forwards;
      }
    }
    &:nth-child(2n) {
      @media screen and (max-width: 700px) {
        margin-left: 125px;
      
      }
  
      margin-left: 150px;
    }
    @media screen and (max-width: 1200px) {
      width: 33%;
    }
    @media screen and (max-width: 700px) {
      margin-left: 50px;
      margin-bottom: 50px;
    
    }

    margin-bottom: 100px;
    width: 37%;
    object-fit: contain;
    cursor: pointer;
  }
}
.mid-item {
  z-index: -1;

  position: absolute;
  left: 60%;
  top: 20px;
  transform: translateX(-50%);
  @media screen and (max-width: 700px) {
    transform: translateX(-43%);
  }
  display: flex;
  flex-direction: column;
  img {
    width: 50%;
  }
  .ans {
    transform: translateX(-90px);

    width: 80%;
    margin-top: 80px;
    @media screen and (max-width: 1200px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 700px) {
      transform: translateX(-40px);
      margin-top: 3px;
    }
  }
}
.page7-wrapper {
  .page6-wrapper__content {
    .mid-item {

      @media screen and (max-width: 700px) {
        transform: translateX(-49%);

      }
      .kids {
        position: absolute;
        width: 91%;
        left: -113%;
        top: 47%;
      }
      .ans {
        @media screen and (max-width: 1200px) {
          transform: translate(110px, 290px);
        }

        @media screen and (max-width: 700px) {
          transform: translate(45px, 181px);

        }
        transform: translate(120px, 330px);
      }
    }
    .star {
      @media screen and (max-width: 1200px) {
        transform: translate(230px, -50px);

      }
      @media screen and (max-width: 700px) {
        transform: translate(120px, -27px);
      }

      .item {
        
        &.active {
          @media screen and (max-width: 1200px) {
            animation: move2mw 2s forwards;
          }
          @media screen and (max-width: 700px) {
            animation: move2m 2s forwards;
          }
          
          animation: move2 2s forwards;
        }
        &:nth-child(2n) {
          
          margin-left: 80px;
          @media screen and (max-width: 1200px) {
            margin-left: 30px;
          }
        }
      }

      transform: translate(230px, -73px);
    }
  }
  @keyframes move2 {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 450px;
      left: -300px;
    }
  }
  @keyframes move2m {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 205px;
      left: -130px;
    }
  }
  @keyframes move2mw {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 345px;
      left: -220px;
    }
  }
}
.page8-wrapper {
  .page6-wrapper__content {
    .mid-item {
      @media screen and (max-width: 1200px) {
        left:62%;
      }
      @media screen and (max-width: 700px) {
       top:-10px;
      }

      .ans {
        margin-top: 2px;
        transform: translateX(-69px);
        @media screen and (max-width: 700px) {
          transform: translateX(-40px);
        }

      }
    }
    .star {
      .item {
        &.active {
          @media screen and (max-width: 1200px) {
            animation: move3mw 2s forwards;
          }
          @media screen and (max-width: 700px) {
            animation: move3m 2s forwards;
          }
          animation: move3 2s forwards;
        }
      }
    }
  }
  @keyframes move3 {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 100px;
      left: 400px;
    }
  }
  @keyframes move3m {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 20px;
      left: 200px;
    }
  }
  @keyframes move3mw {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 60px;
      left: 340px;
    }
  }
}
.page9-wrapper {
  .page6-wrapper__content {
    .star {
      .item {
        &.active {
          @media screen and (max-width: 1200px) {
            animation: move4mw 2s forwards;
          }
          @media screen and (max-width: 700px) {
            animation: move4m 2s forwards;
          }

          animation: move4 2s forwards;
        }
      }
    }
  }
  @keyframes move4 {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 90px;
      left: -350px;
    }
  }
  @keyframes move4mw {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 40px;
      left: -310px;
    }
  }
  @keyframes move4m {
    0% {
      position: relative;
      top: 0px;
      left: 0px;
    }
    100% {
      position: relative;
      top: 20px;
      left: -170px;
    }
  }
}
