.page27-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  &__content {
    margin-top: 3%;
    width: 550px;
    height: 400px;
    &--wrapper {
      display: flex;
      width: 90%;
      height: 100%;
      justify-content: space-between;
      & img {
		display: flex;
		padding: 10px;
		margin-left: 47%;
		height: 6vw;
		object-fit: contain;
		cursor: pointer;
      }
    }
  }
  .title-screen {
    width: 50%;
    margin-left: 5%;
    margin-top: 3%;
  }
  .page27-Ques {
    img {
      height: 92%;
    }
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .page27-wrapper {
    width: 100%;
    height: 100%;
    &__content {
      margin-top: 3%;
      width: 550px;
      height: 400px;
      &--wrapper {
        display: flex;
        height: 20vw;
        justify-content: space-between;
        & img {
			display: flex;
			padding: 10px;
			margin-left: 47%;
			height: 7vw;
			object-fit: contain;
			cursor: pointer;
        }
      }
    }
    .page27-Ques {
      img {
        height: 27vw;
      }
    }
  }
}

@media screen and (min-width: 524px) and (max-width: 767px) {
	.page27-wrapper {
		width: 100%;
		height: 100%;
		&__content {
		  margin-top: 3%;
		  width: 550px;
		  height: 400px;
		  &--wrapper {
			display: flex;
			height: 20vw;
			justify-content: space-between;
			& img {
				display: flex;
				padding: 10px;
				margin-left: 70px;
				height: 7vw;
				object-fit: contain;
				cursor: pointer;
			}
		  }
		}
		.page27-Ques {
		  img {
			height: 27vw;
		  }
		}
	  }
}

@media screen and (max-width: 520px) {
	.page27-wrapper {
		width: 100%;
		height: 100%;
		&__content {
		  margin-top: 3%;
		  width: 550px;
		  height: 400px;
		  &--wrapper {
			display: flex;
			height: 20vw;
			justify-content: space-between;
			& img {
				display: flex;
				padding: 7px 0px;
				margin-left: 70px;
				height: 8vw;
				object-fit: contain;
				cursor: pointer;
			}
		  }
		}
		.page27-Ques {
		  img {
			height: 27vw;
			margin: 10px;
		  }
		}
	  }
}
