.page-wrapper {
	.people-page-wrapper{
		.people-14{
			position: absolute;
			bottom: 7%;
			right: 14%;
			height: 30vw;

		}
	}
}

// @media screen and (min-width: 800px) {
// 	.page14-wrapper {
// 		& .back-to-school {
// 			width: 70%;
// 		}
// 	}
// }

// @media screen and (min-width: 1000px) {
// 	.page14-wrapper {
// 		& .back-to-school {
// 			width: 700px;
// 		}
// 	}
// }
