.page10-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	& .title-screen {
		position: fixed;
		top: 30px;
		left: 30px;
		z-index: 2;
		width: 250px;
		object-fit: contain;
	}
	&__content {
		width: 500px;
		height: 400px;
		&--wrapper {
			width: 100%;
			height: 100%;
			position: relative;
			& .line-zic-zac {
				width: 100%;
				height: 90%;
				object-fit: contain;
			}
			& .tho {
				position: absolute;
				top: 52%;
				left: -6%;
				width: 70px;
				height: 160px;
				object-fit: contain;
				z-index: 2;
			}
			& .ocSen {
				position: absolute;
				top: 19%;
				left: 20%;
				width: 100px;
				height: 70px;
				object-fit: contain;
			}
			& .ech {
				position: absolute;
				top: 55%;
				left: 56%;
				width: 100px;
				height: 60px;
				object-fit: contain;
			}
			& .rua {
				position: absolute;
				top: 19%;
				left: 85%;
				width: 100px;
				height: 60px;
				object-fit: contain;
			}
			& .star {
				position: absolute;
				width: 60px;
				height: 60px;
				object-fit: contain;
				top: 0;
				left: 0;
				cursor: pointer;
				&.star1 {
					top: 19%;
					left: -12%;
				}
				&.star2 {
					top: 53%;
					left: 20%;
				}
				&.star3 {
					top: 19%;
					left: 56%;
				}
				&.star4 {
					top: 53%;
					left: 86%;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.page10-wrapper {
		&__content {
			width: 600px;
			&--wrapper {
				& .tho {
					top: 53%;
					left: -8%;
					width: 100px;
					height: 170px;
				}
				& .ocSen {
					top: 17%;
					left: 23%;
					width: 130px;
					height: 100px;
				}
				& .ech {
					left: 58%;
					width: 130px;
					height: 80px;
				}
				& .rua {
					top: 19%;
					left: 89%;
					width: 130px;
					height: 80px;
				}
				& .star {
					width: 100px;
					height: 100px;
					&.star1 {
						top: 15%;
						left: -18%;
					}
					&.star2 {
						top: 53%;
						left: 12%;
					}
					&.star3 {
						top: 15%;
						left: 47%;
					}
					&.star4 {
						top: 55%;
						left: 80%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.page10-wrapper {
		&__content {
			width: 900px;
			height: 500px;
			&--wrapper {
				& .tho {
					top: 53%;
					left: -6%;
					width: 120px;
					height: 170px;
				}
				& .ocSen {
					left: 26%;
					width: 150px;
					height: 120px;
				}
				& .ech {
					left: 58%;
					width: 150px;
					height: 90px;
				}
				& .rua {
					width: 150px;
					height: 90px;
				}
				& .star {
					&.star1 {
						top: 10%;
					}
					&.star2 {
						top: 57%;
						left: 14%;
					}
					&.star3 {
						top: 13%;
						left: 50%;
					}
					&.star4 {
						top: 57%;
						left: 80%;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1366px) {
	.page10-wrapper {
		&__content {
			width: 1000px;
			&--wrapper {
				& .tho {
					top: 53%;
					left: -6%;
					width: 120px;
					height: 170px;
				}
				& .ocSen {
					left: 26%;
					width: 150px;
					height: 120px;
				}
				& .ech {
					left: 58%;
					width: 150px;
					height: 90px;
				}
				& .rua {
					width: 150px;
					height: 90px;
				}
				& .star {
					&.star1 {
						top: 12px;
					}
					&.star2 {
						top: 270px;
					}
					&.star3 {
						top: 12px;
					}
					&.star4 {
						top: 270px;
					}
				}
			}
		}
	}
}

.location1 {
	animation: location1 2s forwards;
}
@keyframes location1 {
	0% {
		top: 52%;
	}
	100% {
		top: 0%;
	}
}
.location2 {
	animation: location2 2s forwards;
}
@keyframes location2 {
	0% {
		top: 0%;
		left: -6%;
	}
	100% {
		top: 40%;
		left: 26%;
	}
}
.location3 {
	animation: location3 2s forwards;
}
@keyframes location3 {
	0% {
		top: 40%;
		left: 26%;
	}
	100% {
		top: 0%;
		left: 62%;
	}
}
.location4 {
	animation: location4 2s forwards;
}
@keyframes location4 {
	0% {
		top: 0%;
		left: 62%;
	}
	100% {
		top: 52%;
		left: 95%;
	}
}
