.page-wrapper {
  width: 100%;
  height: 100%;
  .practice {
    height: 9vw;
    margin: 20px;
  }
  .list-kids {
    display: flex;
    margin-left: 225px;
    .kid1,
    .kid2,
    .kid3,
    .kid4 {
      height: 20vw;
      padding: 0 40px;
    }
    .kid4{
      padding-left: 12px;
    }
  }
  .list-answer {
    display: flex;
    margin-left: 80px;
    .answer1,
    .answer2,
    .answer3,
    .answer4 {
      height: 5vw;
      padding: 0px 28px;
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .page-wrapper {
    width: 100%;
    height: 100%;

    .practice {
      height: 9vw;
      margin: 20px;
    }
    .list-kids {
      display: flex;
      margin-left: 116px;

      .kid1,
      .kid2,
      .kid3,
      .kid4 {
        height: 27vw;
        padding: 0px 31px;
      }
      .kid4{
        padding-left: 6px;
      }
    }
    .list-answer {
      display: flex;
      margin-left: 48px;
      .answer1,
      .answer2,
      .answer3,
      .answer4 {
        height: 6vw;
        padding: 0px 15px;
        margin-top: 35px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .page-wrapper {
    width: 100%;
    height: 100%;

    .practice {
      height: 9vw;
      margin: 20px;
    }
    .list-kids {
      display: flex;
      margin-left: 100px;

      .kid1,
      .kid2,
      .kid3,
      .kid4 {
        height: 20vw;
        padding: 0 17px;
      }
      .kid4{
        padding-left: 6px;
      }
    }
    .list-answer {
      display: flex;
      margin-left: 56px;
      .answer1,
      .answer2,
      .answer3,
      .answer4 {
        height: 5vw;
        padding: 0px 10px;
        margin-top: 22px;
      }
    }
  }
}
