.page6-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&--text {
			width: 60%;
			object-fit: contain;
			margin-right: 10px;
			cursor: pointer;
		}
	}
}
@media screen and (min-width: 500px) {
	.page6-wrapper {
		&__content {
			justify-content: space-around;
			&--text {
				margin-right: 0;
				margin-left: 20px;
			}
		}
	}
}
@media screen and (min-width: 800px) {
	.page6-wrapper {
		&__content {
			width: 80%;
			&--text {
				margin-left: 0;
			}
		}
	}
}
@media screen and (min-width: 1000px) {
	.page6-wrapper {
		&__content {
			width: 600px;
			&--text {
				margin-left: 0;
			}
		}
	}
}
